#include "menu_config.h"
#include "menu_struct.h"

{% for item_id, item in leaf_list.items() if item.factors_c_str is defined %}
static const s_factors_{{item_id}}[] = {{item.factors_c_str}};
{% endfor %}

static const node_config_t s_nodes_data[] = {
{% for item_id, item in leaf_list.items() if item.type != 'callback' %}
    [MENU_ID_{{item_id.upper()}}] = {
{% if item.complete_type == 'boolean' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.boolean_config = {
            .default_value = {{ 'false' if item.default else 'true' }}
        }
{% endif %}
{% if item.complete_type == 'byte' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.byte_config = {
            .step = {{item.step}},
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }}
        }
{% endif %}
{% if item.complete_type == 'ubyte' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.ubyte_config = {
            .step = {{item.step}},
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }}
        }
{% endif %}
{% if item.complete_type == 'word' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.word_config = {
            .step = {{item.step}},
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }}
        }
{% endif %}
{% if item.complete_type == 'uword' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.uword_config = {
            .step = {{item.step}},
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }}
        }
{% endif %}
{% if item.complete_type == 'dword' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.dword_config = {
            .step = {{item.step}},
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }}
        }
{% endif %}
{% if item.complete_type == 'udword' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.udword_config = {
            .step = {{item.step}},
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }}
        }
{% endif %}
{% if item.complete_type == 'float' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.float_config = {
            .step = {{item.step}},
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }}
        }
{% endif %}
{% if item.complete_type == 'byte_factor' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.byte_factor_config = {
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }},
            .factor = {
                .default_idx = {{ item.default_idx }},
                .factors = s_factors_{{item_id}}
            }
        }
{% endif %}
{% if item.complete_type == 'ubyte_factor' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.ubyte_factor_config = {
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }},
            .factor = {
                .default_idx = {{ item.default_idx }},
                .factors = s_factors_{{item_id}}
            }
        }
{% endif %}
{% if item.complete_type == 'word_factor' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.word_factor_config = {
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }},
            .factor = {
                .default_idx = {{ item.default_idx }},
                .factors = s_factors_{{item_id}}
            }
        }
{% endif %}
{% if item.complete_type == 'uword_factor' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.uword_factor_config = {
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }},
            .factor = {
                .default_idx = {{ item.default_idx }},
                .factors = s_factors_{{item_id}}
            }
        }
{% endif %}
{% if item.complete_type == 'dword_factor' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.dword_factor_config = {
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }},
            .factor = {
                .default_idx = {{ item.default_idx }},
                .factors = s_factors_{{item_id}}
            }
        }
{% endif %}
{% if item.complete_type == 'udword_factor' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.udword_factor_config = {
            .min = {{ item.min }},
            .max = {{ item.max }},
            .default_value = {{ item.default }},
            .factor = {
                .default_idx = {{ item.default_idx }},
                .factors = s_factors_{{item_id}}
            }
        }
{% endif %}
{% if item.complete_type == 'string' %}
        .id = MENU_ID_{{item_id.upper()}},
        .data.string_config = {
            .value = "{{item.string}}",
            .length = {{item.length}}
        }
{% endif %}
    },
{% endfor %}
};

const node_config_t *node_get_config(menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return &(s_nodes_data[id]);
}