#ifndef ROTENC_CALLBACK_H
#define ROTENC_CALLBACK_H

#include <stdint.h>

{% for item_id, item in menu_items.items() if item.type == 'action_callback' %}
    {% if item.display_cb is not none %}
const char * {{ item.display_cb }}(void);
    {% endif %}
    {% if item.change_cb is not none %}
void {{ item.change_cb }}(int8_t delta);
    {% endif %}
    {% if item.enter_cb is not none %}
void {{ item.enter_cb }}(void);
    {% endif %}
    {% if item.exit_cb is not none %}
void {{ item.exit_cb }}(void);
    {% endif %}
    {% if item.click_cb is not none %}
void {{ item.click_cb }}(void);
    {% endif %}
{% endfor %}


#endif // ROTENC_CALLBACK_H