#ifndef MENU_CONFIG_H
#define MENU_CONFIG_H

#include <stdint.h>
#include <stdbool.h>

#include "menu_struct.h"
#include "menu_edit.h"

typedef struct stub_config {} stub_config_t;

{% for type_id, type in unique_types.items() %}
{% if type.category == 'simple' %}
typedef struct {
{% if type.media_type == 'number'%}
    {{type.c_type}} min;
    {{type.c_type}} max;
    {{type.c_type}} step;
{% endif %}
    {{type.c_type}} default_value;
{% if type.media_type == 'boolean' %}
    const char *str_true;
    const char *str_false;
{% endif %}
} {{type_id}}_config_t;
{% elif type.category == 'factor' %}
typedef struct {
    uint8_t count;
    uint8_t default_idx;
    {{type.c_type}} min;
    {{type.c_type}} max;
    {{type.c_type}} default_value;
    const {{type.c_type}} *factors;
} {{type_id}}_config_t;
{% elif type.category == 'fixed' %}
{% if type.media == 'number' %}
typedef struct {
    uint8_t default_idx;
    uint8_t count;
    const {{type.c_type}} *values;
} {{type_id}}_config_t;
{% elif type.media == 'string' %}
typedef struct {
    uint8_t default_idx;
    uint8_t count;
    const {{type.c_type}} **values;
} {{type_id}}_config_t;
{% endif %}
{% endif %}
{% endfor %}

typedef struct menu_config {
    menu_id_t id;
    void (*click_cb)(menu_id_t id);
    void (*position_cb)(menu_id_t id, int8_t delta);
    union {
        stub_config_t stub_config;
{% for type_id, type in unique_types.items() if type_id != 'callback' %}
        {{type_id}}_config_t {{type_id}}_config;
{% endfor %}
    } data;
} menu_item_config_t;

const menu_id_t get_first_id(void);
const menu_item_config_t *menu_get_config(menu_id_t id);


#endif /* MENU_CONFIG_H */