#include "menu_edit.h"
#include "menu_context.h"
#include "menu_config.h"

const menu_node_config_t *menu_config_get_by_id(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return NULL;
    return &(ctx->configs[id]);
}

bool menu_config_handle_position_cb(menu_context_t *ctx, menu_id_t id, int8_t delta) {
    if (id >= MENU_ID_COUNT)
        return false;

    if (ctx->configs[id].position_cb) {
        ctx->configs[id].position_cb(ctx, id, delta);
        return true;
    }

    return false;
}

bool menu_config_handle_click_cb(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return false;

    if (ctx->configs[id].click_cb) {
        ctx->configs[id].click_cb(ctx, id);
        return true;
    }

    return false;
}

bool menu_config_handle_long_click_cb(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return false;

    if (ctx->configs[id].long_click_cb) {
        ctx->configs[id].long_click_cb(ctx, id);
        return true;
    }

    return false;
}

bool menu_config_handle_double_click_cb(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return false;

    if (ctx->configs[id].double_click_cb) {
        ctx->configs[id].double_click_cb(ctx, id);
        return true;
    }

    return false;
}

bool menu_config_handle_draw_value_cb(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return false;

    if (ctx->configs[id].draw_value_cb) {
        ctx->configs[id].draw_value_cb(ctx, id);
        return true;
    }

    return false;
}

bool menu_config_handle_event_cb(menu_context_t *ctx, menu_id_t id, menu_event_t event) {
    if (id >= MENU_ID_COUNT)
        return false;

    if (ctx->configs[id].event_cb) {
        ctx->configs[id].event_cb(ctx, id, event);
        return true;
    }

    return false;
}

{%  for category_name, category in categories.items() %}{# categories #}
{% if category.role == "simple" %}
{{category.c_type}} menu_config_get_{{category_name}}_min(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.min;
}

{{category.c_type}} menu_config_get_{{category_name}}_max(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.max;
}

{{category.c_type}} menu_config_get_{{category_name}}_step(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.step;
}

{{category.c_type}} menu_config_get_{{category_name}}_default_value(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.default_value;
}

{% elif category.role == "factor" %}
uint8_t menu_config_get_{{category_name}}_count(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.count;
}

uint8_t menu_config_get_{{category_name}}_default_idx(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.default_idx;
}

{{category.c_type}} menu_config_get_{{category_name}}_min(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.min;
}

{{category.c_type}} menu_config_get_{{category_name}}_max(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.max;
}

{{category.c_type}} menu_config_get_{{category_name}}_current(menu_context_t *ctx, menu_id_t id, uint8_t factor_idx) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.factors[factor_idx];
}

{{category.c_type}} menu_config_get_{{category_name}}_default_value(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.default_value;
}

{% elif category.role == "fixed" %}
uint8_t menu_config_get_{{category_name}}_count(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.count;
}

uint8_t menu_config_get_{{category_name}}_default_idx(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.default_idx;
}

{{category.c_type}} menu_config_get_{{category_name}}_current(menu_context_t *ctx, menu_id_t id, uint8_t idx) {
    if (id >= MENU_ID_COUNT)
        return 0;
    return ctx->configs[id].data.{{category_name}}.values[idx];
}

{% endif %}{# role #}
{% endfor %}{# category #}
