#ifndef MENU_CONFIG_H
#define MENU_CONFIG_H

#include <stdint.h>
#include <stdbool.h>

#include "menu_struct.h"

typedef struct stub_config {} stub_config_t;

{% for type_id, type in unique_types.items() %}
{% if type.type == 'simple' %}
typedef struct {
{% if type.media == 'number'%}
    {{type.c_type}} min;
    {{type.c_type}} max;
    {{type.c_type}} step;
{% endif %}
    {{type.c_type}} default_value;
{% if type.media == 'boolean' %}
    const char *str_true;
    const char *str_false;
{% endif %}
} {{type_id}}_config_t;
{% elif type.type == 'factor' %}
typedef struct {
    uint8_t count;
    uint8_t default_idx;
    const {{type.c_type}} *factors;
} {{type_id}}_data_t;
typedef struct {
    {{type.c_type}} min;
    {{type.c_type}} max;
    {{type.c_type}} default_value;
    {{type.c_type}} step;
    {{type_id}}_data_t factor;
} {{type_id}}_config_t;
{% elif type.type == 'fixed' %}
{% if type.media == 'number' %}
typedef struct {
    uint8_t default_idx;
    uint8_t count;
    const {{type.c_type}} *values;
} {{type_id}}_config_t;
{% elif type.media == 'string' %}
typedef struct {
    uint8_t default_idx;
    uint8_t count;
    const {{type.c_type}} **values;
} {{type_id}}_config_t;
{% endif %}
{% endif %}
{% endfor %}

typedef struct node_config {
    menu_id_t id;
    union {
        stub_config_t stub_config;
{% for type_id, type in unique_types.items() if type_id != 'callback' %}
        {{type_id}}_config_t {{type_id}}_config;
{% endfor %}
    } data;
} node_config_t;

const node_config_t *node_get_config(menu_id_t id);


#endif /* MENU_CONFIG_H */