#ifndef MENU_CONTEXT_H
#define MENU_CONTEXT_H

#include <stdint.h>
#include <stdbool.h>
#include <stddef.h>

#include "menu_type.h"

typedef struct menu_context {
    menu_id_t current;
    menu_id_t previous;
    menu_state_t state;
    bool dirty;
    bool update;

    menu_node_value_t *values; ///< Неконстантный массив в динамической памяти. Изменяемые значения листьев
    const menu_node_config_t *configs; ///< Константный массив свойств (конфигураций) листьев
    const menu_node_t *nodes; ///< Константный массив всех нод -- дерево меню
    const menu_node_name_t *names; ///< Текстовые название ID меню

    // Буферы для отрисовки (можно вынести в draw модуль)
    char title_buf[LCD_STRING_LEN];
    char value_buf[LCD_STRING_LEN];
} menu_context_t;

void menu_context_init(menu_context_t *ctx);

char *menu_context_get_title_str(menu_context_t *ctx);
char *menu_context_get_value_str(menu_context_t *ctx);

bool menu_context_get_dirty(menu_context_t *ctx);
void menu_context_set_dirty(menu_context_t *ctx);
void menu_context_reset_dirty(menu_context_t *ctx);

bool menu_context_get_update(menu_context_t *ctx);
void menu_context_set_update(menu_context_t *ctx);
void menu_context_reset_update(menu_context_t *ctx);

menu_id_t menu_context_get_current_id(menu_context_t *ctx);
menu_id_t menu_context_get_previous_id(menu_context_t *ctx);

const menu_node_t *menu_context_get_tree_nodes(menu_context_t *ctx);
const menu_node_config_t *menu_context_get_config_nodes(menu_context_t *ctx);
menu_node_value_t *menu_context_get_value_nodes(menu_context_t *ctx);
const menu_node_name_t *menu_context_get_name_nodes(menu_context_t *ctx);
menu_state_t menu_context_get_state(menu_context_t *ctx);

#endif /* MENU_CONTEXT_H */
