void {{function_name}}(menu_context_t *ctx, menu_id_t id) {
    uint8_t idx  = ctx->values[id].data.{{function_info.category}}.idx;
    {{function_info.c_type}} value = ctx->configs[id].data.{{function_info.category}}.values[idx];
{% if function_info.type in ["byte", "word", "dword"] %}
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%d", value);
    menu_draw_line_marker(ctx);
{% elif function_info.type in ["ubyte", "uword", "udword"]%}
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%u", value);
    menu_draw_line_marker(ctx);
{% elif function_info.type == "float" %}
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%2.2f", value);
    menu_draw_line_marker(ctx);
{% elif function_info.type == "string" %}
    strncpy(ctx->value_buf, value, LCD_STRING_LEN - 1);
    ctx->value_buf[LCD_STRING_LEN - 1] = '\0';
    menu_draw_line_marker(ctx);
{% endif %}{# type #}
}