#include "menu_draw.h"
#include "menu_context.h"
#include "menu_tree.h"
#include "menu_config.h"
#include "menu_value.h"

#include <string.h>
#include <stdio.h>

bool menu_draw_update(menu_context_t *ctx, menu_id_t id) {
    
    if (id >= MENU_ID_COUNT || ctx->dirty == false)
        return false;
    
    memset((void *)ctx->title_buf, 0, LCD_STRING_LEN);
    memset((void *)ctx->value_buf, 0, LCD_STRING_LEN);

    strncpy((char *)ctx->title_buf, ctx->nodes[id].title, LCD_STRING_LEN);

    if (ctx->nodes[id].child == MENU_ID_COUNT) {
        if (ctx->configs[id].draw_value_cb) {
            ctx->configs[id].draw_value_cb(ctx, id);
        }
    } else {
        ctx->value_buf[0] = '>';
    }

    ctx->dirty = false;
    ctx->update = true;
}

{% for function_name, function_info in functions.items() if function_info.event_type == "draw_value" %}
{% if function_info.role == "simple" %}
{% include "draw_simple.c.jinja" %}
{% elif function_info.role == "factor" %}
{% include "draw_factor.c.jinja" %}
{% elif function_info.role == "fixed" %}
{% include "draw_fixed.c.jinja" %}
{% endif %}{# role #}

{% endfor %}


