void {{function_name}}(menu_context_t *ctx, menu_id_t id) {
    uint8_t idx  = ctx->values[id].data.{{function_info.category}}.idx;
    {{function_info.c_type}} value = ctx->configs[id].data.{{function_info.category}}.values[idx];
{% if function_info.type in ["byte", "word", "dword"] %}
    int len = snprintf(NULL, 0, "%u. %d", idx + 1, value);
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%u. %d%*c",
        idx + 1,
        value,
        15 - len > 0 ? 15 - len : 0,
        ctx->state == MENU_STATE_EDIT ? '*' : '>'
    );
{% elif function_info.type in ["ubyte", "uword", "udword"]%}
    int len = snprintf(NULL, 0, "%u. %u", idx + 1, value);
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%u. %u%*c",
        idx + 1,
        value,
        15 - len > 0 ? 15 - len : 0,
        ctx->state == MENU_STATE_EDIT ? '*' : '>'
    );
{% elif function_info.type == "float" %}
    int len = snprintf(NULL, 0, "%u. %2.2f", idx + 1, value);
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%u. %2.2f%*c",
        idx + 1,
        value,
        15 - len > 0 ? 15 - len : 0,
        ctx->state == MENU_STATE_EDIT ? '*' : '>'
    );
{% elif function_info.type == "string" %}
    int len = snprintf(NULL, 0, "%u. %s", idx + 1, value);
    snprintf(ctx->value_buf, LCD_STRING_LEN, "%u. %s%*c",
        idx + 1,
        value,
        15 - len > 0 ? 15 - len : 0,
        ctx->state == MENU_STATE_EDIT ? '*' : '>'
    );
{% endif %}{# type #}
}