#include "menu_tree.h"
#include "menu_edit.h"
#include "menu_config.h"
#include "menu_value.h"
#include "menu_context.h"

{% for function_name, function_info in functions.items() %}{# functions #}
{% if function_info.purpose is in ["change_index", "change_factor_index", "change_value"] %}
{% if function_info.role == "simple" %}
{% include "edit_simple.c.jinja" %}


{% elif function_info.role == "factor" %}{# role == factor #}
{% include "edit_factor.c.jinja" %}

{% elif function_info.role == "fixed" %}{# role == fixed #}
{% include "edit_fixed.c.jinja" %}

{% endif %}{# role #}
{% endif %}{# purpose #}
{% endfor %}{# functions #}

