#ifndef MENU_EDIT_H
#define MENU_EDIT_H

#include <stdint.h>
#include <stdbool.h>

#include "menu_struct.h"
#include "menu_config.h"

void menu_change_value(menu_id_t id, int8_t delta);
void menu_next_value(menu_id_t id);

{% for function, function_info  in unique_functions.items() %}
void {{function}}_func(menu_id_t id, int8_t delta);
{% endfor %}

#endif /* MENU_EDIT_H */
