#ifndef MENU_EDIT_H
#define MENU_EDIT_H

#include <stdint.h>
#include <stdbool.h>

#include "menu_struct.h"
#include "menu_config.h"

void menu_change_value(menu_id_t id, int8_t delta);
void menu_next_value(menu_id_t id);

{% for category in unique_categories if category != 'callback' %}
void change_{{category}}_value(menu_id_t id, int8_t delta);
void next_{{category}}_value(menu_id_t id);
{% endfor %}

#endif /* MENU_EDIT_H */
