#ifndef MENU_EDIT_H
#define MENU_EDIT_H

#include <stdint.h>
#include <stdbool.h>

#include "menu_type.h"

// Базовые структуры (только forward declarations)
typedef struct menu_context menu_context_t;
typedef struct menu_node menu_node_t;
typedef struct menu_node_config menu_node_config_t;
typedef struct menu_node_value menu_node_value_t;
typedef struct menu_callback menu_callback_t;

{% for function_name, function_info  in functions.items() %}
{% if function_info.event_type == "click" %}
void {{function_name}}(menu_context_t *ctx, menu_id_t id);
{% elif function_info.event_type == "position" %}
void {{function_name}}(menu_context_t *ctx, menu_id_t id, int8_t delta);
{% endif %}
{% endfor %}

#endif /* MENU_EDIT_H */
