#ifndef MENU_H
#define MENU_H

#include <stdint.h>
#include <stdbool.h>

{% for type_id, type in unique_data_types.items() %}
{% if type.type == 'boolean'%}
{% endfor %}

typedef node_item_value {

} node_item_value_t;

#endif // MENU_H