#include "menu.h"
#include "menu_data_context.h"
#include "menu_navigate.h"
#include "menu_draw.h"
#include "menu_config.h"
#include "menu_tree.h"
#include "menu_value.h"
#include "menu_context.h"

// Инициализация
void menu_init(void) {
    static menu_context_t context = { 0 };
    menu_context_init(&context);
}

// Публичное API для внешнего мира
void menu_position(int8_t delta) {
    menu_context_t *ctx = menu_data_get_context();
    menu_navigate_handle_position(ctx, ctx->current, delta);
}

void menu_enter(void) {
    menu_context_t *ctx = menu_data_get_context();
    menu_navigate_handle_enter(ctx, ctx->current);
}

void menu_back(void) {
    menu_context_t *ctx = menu_data_get_context();
    menu_navigate_handle_back(ctx, ctx->current);
}

void menu_reset(void) {
    // Пока не реализовано. Сброс к начальным значениям
    menu_context_t *ctx = menu_data_get_context();
}

void menu_update(void) {
    menu_context_t *ctx = menu_data_get_context();
    if (ctx->dirty) {
        menu_draw_update(ctx, ctx->current);
    }
}

void menu_set_update(void) {
    menu_context_t *ctx = menu_data_get_context();
    if (ctx == NULL)
        return;
    ctx->update = true;;
}

// Для отрисовки (можно вынести в отдельный menu_display.h)
char* menu_title_buf(void) {
    menu_context_t *ctx = menu_data_get_context();
    return ctx == NULL ? NULL : ctx->title_buf;
}

char* menu_value_buf(void) {
    menu_context_t *ctx = menu_data_get_context();
    return ctx == NULL ? NULL : ctx->value_buf;
}

bool menu_needs_redraw(void) {
    menu_context_t *ctx = menu_data_get_context();
    return ctx == NULL ? false : ctx->update;
}

bool menu_ack_redraw(void) {
    menu_context_t *ctx = menu_data_get_context();
    if (ctx == NULL)
        return false;
    bool ack_redraw = ctx->update;
    ctx->update = false;
    return ack_redraw;
}

void menu_set_dirty(void) {
    menu_context_t *ctx = menu_data_get_context();
    if (ctx == NULL)
        return;
    ctx->dirty = true;
}

menu_state_t menu_state(void) {
    menu_context_t *ctx = menu_data_get_context();
    if (ctx == NULL)
        return MENU_STATE_NONE;
    return ctx->state;
}
