#ifndef MENU_TREE_H
#define MENU_TREE_H

#include <stdint.h>
#include <stdbool.h>
#include <stddef.h>

#include "menu_type.h"

#define MENU_TITLE_LEN 0x10

typedef struct menu_node {
    menu_id_t id;
    menu_id_t parent;
    menu_id_t child;
    menu_id_t prev;
    menu_id_t next;
    const char *title;
    menu_tree_type_t type;
} menu_node_t;

#endif /* MENU_STRUCT_H */
