#include "menu_value.h"
#include "menu_context.h"

menu_node_value_t *menu_value_get_by_id(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return NULL;

    return &(ctx->values[id]);
}

{%  for category_name, category in categories.items() %}{# categories #}
{% if category.role == "simple" %}
{{category.c_type}} *menu_value_get_{{category_name}}_value(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return NULL;
    return &(ctx->values[id].data.{{category_name}}.value);
}


{% elif category.role == "factor" %}
{{category.c_type}} *menu_value_get_{{category_name}}_value(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return NULL;
    return &(ctx->values[id].data.{{category_name}}.value);
}

uint8_t *menu_value_get_{{category_name}}_idx(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return NULL;
    return &(ctx->values[id].data.{{category_name}}.idx);
}

{% elif category.role == "fixed" %}
uint8_t *menu_value_get_{{category_name}}_idx(menu_context_t *ctx, menu_id_t id) {
    if (id >= MENU_ID_COUNT)
        return NULL;
    return &(ctx->values[id].data.{{category_name}}.idx);
}
{% endif %}
{% endfor %}{# categories #}